

main {
    padding-inline: 16px;
    padding-block: 8px;
    overflow: none;
    background-color: rgb(219, 182, 182);
    color: black;
    align-items: center;
    justify-content:space-between ;
}